layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Personal Dev" focus=true {
        pane
    }
    tab name="Dotfiles" {
        pane {
            name "Dotfiles"
            cwd "~/dotfiles/"
            command "nvim"
            args "."
        }
    }
    // tab name="Monitor" {
    //     pane split_direction="vertical" {
    //         pane focus=true
    //         pane {
    //             pane
    //             // pane {
    //             //     name "htop"
    //             //     command "htop"
    //             //     // close_on_exit true
    //             // }
    //         }
    //     }
    // }
    tab name="Dev" {
        pane
    }
    // tab name="30%" {
    //     pane
    // }
    tab name="Misc" {
        pane
    }
}
