[user]
	name = Igor Assuncao
	email = igor.ormonde@gmail.com
[init]
	defaultBranch = main
[core]
	excludesfile = ~/dotfiles/config/git/.gitignore
	bare = true
[pull]
    rebase = true
[push]
	autoSetupRemote = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[worktree]
	guessRemote = true
[remote "origin"]
    mirror = true
