# Useless MacOSx junk
.DS_Store

# VS Code project config
.vscode

# Vim trash
.vim

# Jetbrains useless stuff
.idea

# Terraform state folder
.terraform

# Node_modules
node_modules

# Python Venv
venv
